body{
    width: 80%;
    margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
    color: #8FA31E;
}

h2 {
    color: #556B2F;
}
